#remote_video {
    width: 134vw;
    position: absolute;
    margin: auto;
    left: calc(-50% + 33vw);
    top: -24vw;
}
.rotate90 {
  -webkit-transform: rotate(90deg);
}
.container{
  background: transparent;
/*  background-color: black;*/
  height: 100vh;
  display: flex;
  justify-content: right; /* 20240304 justify-content: center; */
  align-items: center;
  position: absolute;
  left: 0; top: 0; /* 20240304 left: 0; top: 20%; */
  width: 95%; height: 20%; /* 20240304 width: 100%; height: 90%; */
  overflow: visible;
  z-index: 12345;
  opacity: 10;
  transform: scale(1.1, 1.1); /* 20240304 transform: scale(.88, .88); */
}
/* 2024.03.04 */
#sound {
  background: transparent; 
  border: none;
  padding: 0em 5em;
  visibility: hidden;
}
#speaker {
  width: 48px;
  height: 48px;
}
